<%
  prev = post.prev
  next = post.next

  while (prev && prev.layout != post.layout) {
    prev = prev.prev || null;
  }

  while (next && next.layout != post.layout) {
    next = next.next || null;
  }
%>
<% if (prev || next) { %>
  <nav>
    <% if (next) { %>
      <a href="<%- config.root %><%- next.path %>" title="<%= next.title %>" rel="prev" data-key="left">&larr; Prev</a>
    <% } %>
    <% if (prev && next) { %> | <% } %>
    <% if (prev) { %>
      <a href="<%- config.root %><%- prev.path %>" title="<%= prev.title %>" rel="next" data-key="right">Next &rarr;</a>
    <% } %>
  </nav>
<% } %>
