<% post = page %>
<main class="article article-post h-entry">
  <header class="article-header">
    <h1 class="main-content-title entry-title p-name">
      <%= page.title %>
    </h1>
  </header>
  <div class="article-meta" role="contentinfo">
    <%- partial('_partial/post/published') %>
    <%- partial('_partial/post/nav') %>
  </div>
  <div class="article-content entry-content e-content">
    <%- page.content %>
  </div>
  <footer class="article-footer">
    <div class="media h-card p-author">
      <img src="https://1.gravatar.com/avatar/71f534a5deac2c9aa23b1a9c6de4f2e1?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" alt="Paul Hayes" class="media-pull-left paul-avatar u-photo" />
      <div class="media-body p-note">
        <span class="p-name">Paul Hayes</span> is a developer &amp; designer in Brighton.<br />
        He’s worked on <a href="https://www.gov.uk">GOV.UK</a>, <a href="https://www.last.fm">Last.fm</a> and Ocado.<br /><br />
        <a href="https://twitter.com/fofr" rel="me">Follow Paul on Twitter (@<span class="p-nickname">fofr</span>)</a>.
      </div>
    </div>
    <p class="article-discussion"><a href="https://github.com/fofr/paulrhayes.com/tree/master/source/_posts/<%= page.slug %>.md" rel="alternate">This article is available on Github in Markdown format</a></p>
  </footer>
  <%- partial('_partial/latest-posts') %>
</main>
